<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UwUtel Directory</title>
        <script src="directory.js"></script>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
                background-color: #f8f9fa;
            }
            h1 {
                color: #343a40;
                text-align: center;
                margin-bottom: 40px;
            }
            h2 {
                color: #495057;
                border-bottom: 2px solid #ced4da;
                padding-bottom: 10px;
                margin-top: 40px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            th, td {
                padding: 12px;
                border: 1px solid #ced4da;
                text-align: left;
            }
            th {
                background-color: #e9ecef;
            }
            p {
                margin: 10px 0;
            }
            a {
                color: #007bff;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            .container {
                max-width: 800px;
                margin: 0 auto;
                background-color: #fff;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>UwUtel Directory</h1>
            <div class="form-group">
                <label for="source-system">Select your current system:</label>
                <select id="source-system" onchange="updateDials(this.value);">
                    <option value="">Select a system</option>
                    {% for system_name in systems.keys() %}
                        <option value="{{ system_name }}">{{ systems[system_name].name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% for system_name, system_details in systems.items() %}
                {% if 'directory' in system_details %}
                    <h2>{{ system_details.name }}</h2>
                    <div class="directory-list">
                        <table>
                            <thead>
                                <tr>
                                    <th>Extension</th>
                                    <th>Name</th>
                                    <th>Dial</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for directory in system_details.directory %}
                                    {% if 'external' in directory %}
                                        <tr>
                                            <td colspan="3">
                                                External Directory: <a href="{{ directory.external }}" target="_blank">{{ directory.external }}</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {% for ext, names in directory.items() %}
                                            <tr class="directory-item" data-system="{{ system_name }}" data-extension="{{ ext }}" data-dial-{{ system_name }}="{{ ext }}">
                                                <td>{{ ext }}</td>
                                                <td>{{ names | join(', ') }}</td>
                                                <td class="dial-code"></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <script src="system.js"></script>
    </body>
</html>