body {
  font-family: sans-serif;
  padding: 1rem;
  line-height: 1.25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
li:before {
  content: "➤";
  font-family: sans-serif;
  height: 0em;
  position: relative;
  top: 0.1em;
  padding-right: 0.3em;
  text-decoration: none;
}
.list-clean li:before {
  content: "";
  padding-right: 0em;
}
li {
  font-size: initial;
}
h1,
h2,
h3,
h4 {
  padding-bottom: 0.5rem;
}
p {
  padding-bottom: 1rem;
}
.phone:before :not("li") {
  content: "✆";
}
a.phone {
  font-family: monospace;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
a.phone:before {
  font-family: sans-serif;
  height: 0em;
  content: "✆";
  position: relative;
  top: 0.1em;
  padding-right: 0.15em;
  text-decoration: none;
}
p a.phone:before {
  padding-left: 0.1em;
  padding-right: 0.1em;
}
a.phone:hover {
  color: rgb(255, 115, 0);
}
