<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systems Overview</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;
        }
        h1 { 
            color: #333; 
            grid-column: 1 / -1; 
        }
        .system { 
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
            overflow: hidden;
        }
        .system h2 { 
            color: #666; 
            cursor: pointer; 
        }
        .trunks, .blocks { 
            margin-left: 20px; 
            display: block; 
        }
        .map-container {
            grid-column: 1 / -1;
            text-align: center;
            margin-bottom: 20px;
        }
        .map {
            max-width: 100%;
            height: auto;
        }
        .calculator {
            grid-column: 1 / -1;
            margin-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="nyaaaa.css" />
</head>
<body>
    <div class="calculator">
        <h2>Dialing Calculator</h2>
        <form id="dialing-form">
            <label for="source-system">Source System:</label>
            <select id="source-system" name="source-system">
                {% for system_name, system_details in systems.items() %}
                <option value="{{ system_name }}">{{ system_details.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="destination-system">Destination System:</label>
            <select id="destination-system" name="destination-system">
                {% for system_name, system_details in systems.items() %}
                <option value="{{ system_name }}">{{ system_details.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="extension">Extension:</label>
            <input type="text" id="extension" name="extension" required>
            <br>
            <button type="submit">Calculate Dial</button>
        </form>
        <p id="dialing-result"></p>
    </div>

    {% for system_name, system_details in systems.items() %}
    <div class="system" id="{{ system_name }}">
        <h2 onclick="toggleSystemDetails('{{ system_name }}')">{{ system_details.name }} ({{ system_details.type }})</h2>
        <div class="trunks" id="{{ system_name }}-trunks">
            <p>
                {{ system_details.description }}
            </p>
            <h3>Trunks</h3>
            <ul>
                {% for trunk in system_details.trunks %}
                {% for trunk_name, trunk_details in trunk.items() %}
                <li>
                    <div><a href="#{{ trunk_name }}" onclick="showSystemDetails('{{ trunk_name }}')">{{ trunk_name }}</a></div>
                    <div style="margin-left: 20px;">Dial: {% if trunk_details.dial %}{{ trunk_details.dial }}{% else %}<span class="placeholder">native</span>{% endif %}</div>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="blocks" id="{{ system_name }}-blocks">
            <h3>Blocks</h3>
            <ul>
                {% for block in system_details.blocks %}
                <li>{{ block }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    <script src="system.js"></script>
</body>
</html>